 <% senator = @data.get_senator_info[n] %>

 <div class="col-lg-6 col-md-12 text-center">
    <div class="service-box">
        <div class="blue-border">


        <h1><%= senator["name"] %></h1>
        <%= image_tag senator["photoUrl"], class: "senator-image" %>

        <h3> <%= senator["party"] %></h3>

        <h4><%= link_to senator["urls"][0], senator["urls"][0]  %></h4>
          <div class="row">
            <p><i class="fa fa-phone  sr-contact"></i> <%= senator["phones"].first %></p>
          </div>

          <div class="row">
            <% senator["channels"].each do |channel| %>
              <%= channel_mapper(channel) %>
            <% end %>
          </div>
        </div>
    </div>
</div>